**/.vscode-server
**/bash_history
**/mysql_history
**/viminfo
**/reportes
**/Services/Composer
**/Services/Json
**/Services/image
**/Services/json_nomina
**/Services/pdf
**/Services/PdfPublicacion
**/Services/QRcode
**/Services/Resources
**/Services/FotoPersonal