th{
    font-size: 11px;
    font-weight: 500;
}

table.dataTable thead {
    background: #2A4C38;
    color:white;
}

table.dataTable tfoot {
    background: #2A4C38;
    color:white;
}

div.dataTables_wrapper div.dataTables_length {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_filter {
    float: right !important;
}

div.dataTables_wrapper div.dataTables_info {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right !important;
}

div.dt-buttons {
    float: left !important;
   /* width: 180px !important; */
}

#tabla_listado_nomina{
    font-size: 12px;
}

#tabla_generar_nomina{
    font-size: 12px;
}

/* stylos data tables*/

.page-item.active .page-link {
    background-color: #2A4C38;
  border-color: #2A4C38;
}

.page-link {
  color: #bec3bf;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  padding: 5px 5px 5px 5px !important;
}

/* 3.0 Tabs */

.nav-tabs .nav-link.active {
    background-color:#F2F3F5 !important;
    border-color: #dee2e6 #dee2e6 #F2F3F5;
}

.nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    background: #f8f9fa;
    color: #bec3bf;
}


.color-error {
    background-color: #ffff006b !important;
}

.nav-link-alert {
    color: #d1d3e2;
}

.nav-item .nav-link-alert {
    position: relative;
}

.nav-item .nav-link-alert {
/*    height: 4.375rem;*/
    display: flex;
    align-items: center;
/*    padding: 0 0.75rem;*/
}

.drop-titulo{
    font-size: 12px;
    font-weight: 500;
}

