/* 1.0 Data Tables */

input{
    width: 100% !important;
}
  
.filters th{
    padding:0px !important;
    font-size: 11px
}

.filtersMateriales th{
    padding:0px !important;
    font-size: 11px
}

.filtersPreciosProveedor th{
    padding:0px !important;
    font-size: 11px
}

.filtersAsignarCodigos th{
    padding:0px !important;
    font-size: 11px
}

.filters_precios_material th{
    padding:0px !important;
    font-size: 11px
}

th{
    font-size: 9px;
    font-weight: 500;
}
  
.dataTables_scrollHeadInner{
  width: 100%-6px !important;
}
  
.dataTables_filter{
   padding-right: 100px;
}

table.dataTable thead {
    background: #2A4C38;
    color:white;
}

table.dataTable tfoot {
    background: #2A4C38;
    color:white;
}

div.dataTables_wrapper div.dataTables_length {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_filter {
    float: right !important;
}

div.dataTables_wrapper div.dataTables_info {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right !important;
}

div.dt-buttons {
    float: left !important;
}


/* stylos data tables*/

.page-item.active .page-link {
    background-color: #2A4C38;
    border-color: #2A4C38;
}

.page-link {
  color: #bec3bf;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  padding: 5px 5px 5px 5px !important;
}

/* Cierre 1.0 DataTables */


/* 2.0 Tablas */

#tablaMateriales thead {
    background: #2A4C38;
    color:white;
}

#tablaProveedorMateriales thead {
    background: #2A4C38;
    color:white;
}

#tablaProveedores thead {
    background: #2A4C38;
    color:white;
}

#tablaCargarPrecios thead {
    background: #2A4C38;
    color:white;
}

#tablaPreciosProveedor thead {
    background: #2A4C38;
    color:white;
}

#tablaAsignarCodigos thead {
    background: #2A4C38;
    color:white;
}

#tabla_precios_material thead {
    background: #2A4C38;
    color:white;
}


/* tamaño de texto de tablas*/

#tablaMateriales{
    font-size: 12px;
}

#tablaProveedorMateriales{
    font-size: 12px;
}

#tablaProveedores{
    font-size: 12px;
}

#tablaCargarPrecios{
    font-size: 12px;
}

#tablaPreciosProveedor{
    font-size: 12px;
}

#tablaAsignarCodigos{
    font-size: 12px;
}

#tabla_precios_material{
    font-size: 12px;
}

/* Cierre 2.0 Tablas */

/* 3.0 Tabs */

.nav-tabs .nav-link.active {
    background-color:#F2F3F5 !important;
    border-color: #dee2e6 #dee2e6 #F2F3F5;
}

.nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    background: #f8f9fa;
    color: #bec3bf;

}

/* Cierre 3.0 Tabs */


/* CSS DEL MODULO */

.color-error {
    background-color: #ffff006b !important;
}

/* PARA OCULTAR EL INCREMENTO DEL CAMPO NUMBER
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;

}
    
.table-wrapper-scroll-y {
    display: block;
}

.nav-link-alert {
    color: #d1d3e2;
}

.nav-item .nav-link-alert {
    position: relative;
}

.nav-item .nav-link-alert {
/*    height: 4.375rem;*/
    display: flex;
    align-items: center;
/*    padding: 0 0.75rem;*/
}

.drop-titulo{
    font-size: 12px;
    font-weight: 500;
}
