/* 1.0 Tabs */

.nav-tabs .nav-link.active {
    background-color: #F2F3F5 !important;
    border-color: #dee2e6 #dee2e6 #F2F3F5;
}

.nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    background: #f8f9fa;
    color: #bec3bf;

}

/* Cierre 1.0 Tabs */


/* CSS DEL MODULO */

.color-error {
    background-color: #ffff006b !important;
}

.ficha_datos_piloto {
    font-size: 12px;
}

.nav-link-alert {
    color: #d1d3e2;
}

.nav-item .nav-link-alert {
    position: relative;
}

.nav-item .nav-link-alert {
    display: flex;
    align-items: center;
}

.drop-titulo {
    font-size: 12px;
    font-weight: 500;
}